@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --AlmostWhite: hsl(0, 0%, 98%);
    --MediumGray: hsl(0, 0%, 41%);
    --AlmostBlack: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Epilogue", sans-serif;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header .logo {
    display: flex;
    align-items: center;

    h1 {
        margin-right: 2rem;
    }
}

.logo ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    color: var(--MediumGray);

    li {
        cursor: pointer;
    }

    li a {
        color: var(--MediumGray);
        text-decoration: none;
    }
}

.nav-btns {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.nav-btns button {
    cursor: pointer;
}

.nav-btns #menu {
    background-color: transparent;
    border: none;
    outline: none;
    display: none;
}

#login {
    background-color: transparent;
    border: none;
}

#register {
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid var(--MediumGray);
    padding: 15px;
}

.sideBar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    z-index: 999;
    height: 100vh;
    padding: 20px;
    list-style: none;
    display: flex;
    display: none;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    color: var(--MediumGray);
    background-color: white;
    box-shadow: 0px 5px 10px black;

    li {
        align-items: center;
        gap: 5px;
    }


    li a {
        color: var(--MediumGray);
        text-decoration: none;
    }

    .nav-btns {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

/************Section************/
section .hero {
    max-width: 1440px;
    margin: 0 auto;
    height: calc(100vh - 86px);
    overflow: hidden;
    display: flex;
    padding: 0 40px;
}

.left {
    padding: 5rem 0;
    flex: 1;
}

.left h2 {
    font-size: 5rem;
    font-weight: 700;
    margin: 5rem 0 3rem 0;
    line-height: 1.1;
    color: var(--AlmostBlack);
}

.left p {
    line-height: 1.7rem;
    margin-bottom: 3rem;
    color: var(--MediumGray);
    font-size: 1.125rem;
    max-width: 540px;
}

.left button {
    padding: 16px 32px;
    background-color: var(--AlmostBlack);
    color: var(--AlmostWhite);
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 1.125rem;
    margin-bottom: 3rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.left button:hover {
    background-color: var(--AlmostWhite);
    color: var(--AlmostBlack);
    border: 2px solid var(--AlmostBlack);
}

.left .icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 0px 10px;
}

.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right img {
    width: 100%;
    max-width: 480px;
    height: auto;
    margin: 0;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none !important;
    }

    .showOnMobile {
        display: flex !important;
    }

    .nav-btns #login,
    #register {
        border: 1px solid var(--MediumGray);
        padding: 15px;
        width: 100%;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section .hero {
        flex-direction: column-reverse;
        width: 100%;
        padding: 0;
    }

    .hero .left {
        padding: 0;
        text-align: center;
    }

    .hero .right img {}

    .hero .icons svg {}

    .hero .left h2 {
        font-size: 2.1rem;
    }
}